<launch>
    <!-- runs a full test: starts rviz, gazebo, lightning, and a test node -->
    <!-- The scene is a tabletop with a large box on it. The box opening is facing towards the robot, and the goal position is chosen to be inside the box. -->

    <!-- this value must be 'right' or 'left' to specify which arm to use for testing -->
    <arg name="arm_to_use" value="right" />
    <!-- number of iterations to use for the test -->
    <arg name="num_test_iterations" value="150" />

    <!-- launches gazebo and rviz -->
    <include file="$(find lightning)/launch/rviz_display.launch">
    </include>

    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_larm_node.launch" />
    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_rarm_node.launch" />

    <!-- launches lightning -->
    <include file="$(find lightning)/launch/lightning.launch">
    </include>
    <!-- setting a couple of lightning parameters for the test -->
    <param name="/lightning/draw_points" value="true" />
    <param name="/lightning/robot_name" value="box_test_pr2" />

    <!-- node that sends the start and goal to lightning for planning -->
    <node name="run_test" pkg="lightning" type="LightningTest.py" args="box $(arg arm_to_use) $(arg num_test_iterations)" output="screen">
    </node>

</launch>
