<launch>
    <!-- all lightning default parameters are set here -->
    <group ns="lightning">
        <param name="robot_name" value="pr2" />
        <param name="step_size" value="0.005" />
        <param name="draw_points" value="true" />
        <remap from="register_planning_scene" to="/register_planning_scene" />

        <!-- returns invalid sections of paths -->
        <node name="collision_check_service" pkg="lightning" type="collision_check_service" output="screen">
            <param name="num_threads" value="1" />
        </node>

        <node name="path_shortcutter_service" pkg="lightning" type="path_shortcutter" output="screen">
            <param name="num_iterations" value="100" />
            <param name="ignore_fraction" value="0.1" />
        </node>

        <!-- load planners for RR and PFS -->
        <include file="$(find lightning)/launch/planners.launch"/>

        <!-- handles requests for RR planning -->
        <node name="rr_node" pkg="lightning" type="RR_action_server.py" output="screen">
            <param name="num_rr_planners" value="1" />
            <param name="path_library_path_node_size" value="8" />
            <param name="path_library_sg_node_size" value="50" />
            <param name="num_paths_to_collision_check" value="1" />
            <param name="dtw_distance" value="5.0" />
            <param name="path_library_dir" value="$(find lightning)/scripts/pathlib/paths" />
        </node>

        <!-- handles requests for PFS planning -->
        <node name="pfs_node" pkg="lightning" type="PFS_action_server.py" output="screen">
        </node>

        <!-- receives planning requests and routes them to RR and/or PFS -->
        <node name="lightning" pkg="lightning" type="run_lightning.py" output="screen">
            <param name="store_paths" value="true" />
            <param name="use_RR" value="true" />
            <param name="use_PFS" value="false" />
        </node>
    </group>
</launch>
