<launch>

    <param name="/use_sim_time" value="true" />
    <node name="gazebo" pkg="gazebo" type="gazebo" args="-r $(find gazebo_worlds)/worlds/empty.world" respawn="false"/>

    <!-- start pr2 robot -->
    <include file="$(find pr2_gazebo)/pr2.launch"/>

    <!-- load perception -->
    <include file="$(find pr2_arm_navigation_perception)/launch/laser-perception.launch"/>

    <!-- load planning_environment -->
    <include file="$(find planning_environment)/launch/environment_server.launch"/>
    
    <!--for this example, do not use the collision map-->
    <param name="/environment_server/use_collision_map" value="false" />

    <!-- load ik -->
    <include file="$(find pr2_arm_navigation_kinematics)/launch/right_arm_collision_free_ik.launch"/> 
    <include file="$(find pr2_arm_navigation_kinematics)/launch/left_arm_collision_free_ik.launch"/> 

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lightning)/config/rviz_config.vcg" />
   
    <group ns="lightning">
        <node name="point_drawer" pkg="lightning" type="PointDrawer.py" output="screen">
        </node>
    </group>

</launch>
