<launch>

    <!-- start pr2 robot -->
    <include file="$(find pr2_gazebo)/pr2.launch"/>

    <!-- load perception -->
    <include file="$(find pr2_arm_navigation_perception)/launch/laser-perception.launch"/>

    <!-- load planning_environment -->
    <include file="$(find planning_environment)/launch/environment_server.launch"/>

    <!-- load ik -->
    <include file="$(find pr2_arm_navigation_kinematics)/launch/right_arm_collision_free_ik.launch"/> 
    <include file="$(find pr2_arm_navigation_kinematics)/launch/left_arm_collision_free_ik.launch"/> 
    
</launch>
